.TabTitle {
  font-weight: bold;
  font-size: 1.5rem;
}
.colTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.colBtn {
}

.emergencyStopIcon {
  width: 60px;
}
.emergencyStopBtn {
  padding: 0px 0px 0px 0px !important;
  background: none !important;
  border: none !important;
  border-radius: 30px;
}
.emergencyStopBtn:hover, .emergencyStopBtn:focus {
  padding: 0px 0px 0px 0px !important;
  background: none !important;
  border: none !important;
  outline: none !important;
  border-radius: 30px;
}
